# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Directory for distribution
/dist

# Optional npm cache directory
.npm

# OSX
.DS_Store

/tmp
/dist
/.cache
/public

report.html
