@mixin coloredSlide($color) {
  &.slide-background {
    @include radial-gradient(rgba($color, 0.5), rgba($color, 0));
    box-shadow: inset 0 0 0 3px rgba($color, 1);

    @content;
  }

  @include slide-text-colors(lighten($color, 20%));
}

.jsTraining {
  &-alertSlide {
    @include coloredSlide(#c00);
  }

  &-questionSlide {
    @include coloredSlide($linkColor) {
      &:before {
        content: '?';
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 100vh;
        color: rgba(#000, 0.2);
      }
    }
  }

  &-responseSlide {
    @include coloredSlide(#5c5);
  }
}
