.jst-ChapterList {
  display: block;
  font-family: sans-serif;

  margin-top: 20px;

  &,
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-Title {
    display: block;
    margin: 20px 0;
    font-size: 1.3em;
    color: #999;
  }
  &-Chapter {
    font-size: 1.2em;
  }

  &-Link {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;

    &:hover {
      background: rgba(#000, 0.05);
    }
  }
}
