@mixin coloredSlide ($color) {
  &.slide-background {
    @include radial-gradient( rgba($color,.5), rgba($color,.2) );
    box-shadow: inset 0 0 0 $blockMargin rgba($color, .3);
    @content
  }
}

.jsTraining{

  &-alertSlide {
    @include coloredSlide(#C00);
  }

  &-questionSlide {
    @include coloredSlide($linkColor){
      &:before{
        content: '?';
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 100vh;
        color: rgba($linkColor, .2);
      }
    }
  }

  &-responseSlide {
    @include coloredSlide(#0C0);
  }
}
