.js-training-listing {
  background-image: url('/images/slideshow-background.png');
  display: flex;
  flex-direction: column;
  font-size: $mainFontSize;
  padding: 0 $mainFontSize;

  &-info {
    line-height: 1em;
    border-bottom: 3px dashed $headingColor;
    margin-bottom: $blockMargin;
  }

  &-title {
    color: $headingColor;
    font-family: $headingFont;
    font-size: $heading2Size;
    text-shadow: $heading1TextShadow;
  }

  &-links {
    list-style: none;
    padding: 0;
    a {
      display: inline-block;
      padding: .2em 0;
      color: $headingColor;
      text-decoration: none;

      &:hover {
        color: $linkColor;
      }
    }
  }

  &-url {
    position: relative;
    color: $headingColor;
    top: -$heading2Size/3;
  }

  &-list {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    overflow-y: scroll;


    li, a {
      color: $linkColor;
      font-family: $headingFont;
      font-size: $mainFontSize;
      text-decoration: none;
      text-shadow: $headingTextShadow;
    }
    a {
      display: block;
      line-height: $headingLineHeight;
      padding: $blockMargin/2 $blockMargin;

      &:hover {
        background-color: rgba($linkColor, .5);
        color: $headingColor;
        text-shadow: $headingTextShadow;
      }
    }
  }
}
