// https://github.com/hakimel/reveal.js/blob/master/css/theme/template/theme.scss

.reveal {

  section {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: .75em;
    }
  }


  blockquote {
    margin: $blockMargin auto;
    padding: 0 $blockMargin;
  }

  p, td, h1, h2, h3, h4, h5, h6 {
    & > code {
      background-color: rgba($selectionBackgroundColor,.3);
      border-radius: .15em;
      color: $selectionColor;
      border:  1px solid rgba($selectionBackgroundColor, .5);
      font: {
        size: 85%;
        style: normal;
      }
      padding: 0.15em 0.3em;
      margin: 0em 0.2em;
    }
  }

  table {
    min-width: 80%;
    td, th {
      padding: .5em .25em;
      text-align: left;
    }
  }

  pre {
    display: inline-block;
    margin: $blockMargin*2 auto;
    width: auto;
    code {
      padding: $blockMargin;
    }
  }
  p + pre {
    margin-top: 0;
  }
}
